{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Rekapitulace objednávky</h3>
            <h4>Obsah nákupního košíku</h4>
        </div>
    </div>
</div>


<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Autor - Název knihy</th>
            <th>Cena (CZK)</th>
        </tr>
        </thead>
        <tbody>

        {% for item in items %}
        <tr>
            <td>
                <a href="{{url_for('book_detail', id=item.id)}}" style="color: inherit; text-decoration: none;">
                    <img src="static/book_img/{{ item.img_name }}" height=50>
                </a>
            </td>
            <td>{{ item.author }} - {{ item.name }}
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <hr>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Platební a dodací údaje</h4>
            <p>
                Kontaktní email: <b>{{ details.email }} </b><br>
                Způsob dodání: <b>{{ details.delivery }} </b><br>
                Způsob platby: <b>{{ details.payment }} </b>
            </p>
            <p>
                Fakturační údaje:<br>
                <b>{{ details.billing_name }}</b><br>
                <b>{{ details.billing_address }}</b><br>
                <b>{{ details.billing_city }} - {{ details.billing_zip }}</b><br>
            </p>
            <p>
                Dodací údaje:<br>
                <b>{{ details.shipping_details.shipping_name }}</b><br>
                <b>{{ details.shipping_details.shipping_address }}</b><br>
                <b>{{ details.shipping_details.shipping_city }} - {{ details.shipping_details.shipping_zip }}</b><br
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-end">
        <div class="col-md-4 ">
            <h6>Cena za zboží: {{ details.price }} CZK</h6><br>
            <h6>Cena za dopravu: {{ details.price_two }} CZK</h6><br>
            <h5>Cena celkem: {{ details.price + details.price_two }} CZK</h5><br>
        </div>
    </div>


    <div class="row py-2">
        <div class="col-md-12 d-flex justify-content-end">
            <a href="{{ url_for('checkout_step_three') }}">
                <button class="btn btn-outline-success"> Závazně objednat</button>
            </a>
        </div>
    </div>
</div>


{% endblock %}
