{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Obchodní podmínky</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <p>
                <strong>Obchodní podmínky</strong>
                <br>
                <br>
                <strong>1. Úvodní ustanovení</strong>
                <br>
                1.1. Tyto obchodní podmínky (dále jen "Podmínky") upravují vzájemná práva a povinnosti mezi provozovatelem e-shopu (dále jen "Provozovatel") a zákazníky e-shopu (dále jen "Zákazník").
                <br>
                1.2. Provozovatelem e-shopu je [název firmy], se sídlem [adresa], IČ: [IČO], zapsaná v [registračním soudu], sp. zn. [číslo spisu], kontakt: [e-mail], telefon: [telefonní číslo].
                <br>
                1.3. Zákazníkem může být fyzická osoba starší 18 let nebo právnická osoba, která vstupuje do obchodního vztahu s Provozovatelem.
                <br>
                <br>
                <strong>2. Objednávka a platba</strong>
                <br>
                2.1. Zákazník může objednávat zboží prostřednictvím e-shopu na webové stránce [adresa e-shopu].
                <br>
                2.2. Zákazník je povinen uvést přesné a platné kontaktní údaje pro zpracování objednávky.
                <br>
                2.3. Platba za objednané zboží je možná formou:
                <br>
                - Platba bankovním převodem na účet Provozovatele.
                <br>
                - Dobírka (cash on delivery) s příplatkem [částka].
                <br>
                - Platba hotově při převzetí zásilky.
                <br>
                2.4. Provozovatel si vyhrazuje právo na změnu cen zboží a poštovného. Platná cena je ta, která je uvedena v okamžiku potvrzení objednávky.
                <br>
                <br>
                <strong>3. Dodání zboží</strong>
                <br>
                3.1. Zboží je dodáváno zákazníkovi dle zvoleného způsobu dopravy:
                <br>
                - Osobní vyzvednutí na provozovně Provozovatele.
                <br>
                - Kurýrní službou s dodací adresou poskytnutou Zákazníkem.
                <br>
                3.2. Termín dodání závisí na dostupnosti zboží a zvoleném způsobu dopravy.
                <br>
                <br>
                <strong>4. Reklamace a vrácení zboží</strong>
                <br>
                4.1. Zákazník má právo na reklamaci zboží v souladu s platnými právními předpisy.
                <br>
                4.2. Zákazník má právo na vrácení zboží do 14 dnů od převzetí zboží v souladu s podmínkami vrácení zboží uvedenými na webových stránkách.
                <br>
                <br>
                <strong>5. Ochrana osobních údajů</strong>
                <br>
                5.1. Provozovatel je zodpovědný za ochranu osobních údajů Zákazníka dle platných právních předpisů.
                <br>
                5.2. Zákazník souhlasí se zpracováním svých osobních údajů pro účely realizace objednávky a komunikace s Provozovatelem.
                <br>
                <br>
                <strong>6. Závěrečná ustanovení</strong>
                <br>
                6.1. Tyto Podmínky jsou platné a účinné od [datum platnosti].
                <br>
                6.2. Provozovatel si vyhrazuje právo na změnu těchto Podmínek. Změny jsou účinné od data uveřejnění na webových stránkách.
            </p>
        </div>
    </div>
</div>

{% endblock %}
